@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.progress-bar {
  width: 100%;
  height: 0.5rem;
  border-radius: 9999px;
  overflow: hidden;
  appearance: none;
  background-color: #f1f5f9;
}

.progress-bar::-webkit-progress-bar {
  background-color: #f1f5f9;
  border-radius: 9999px;
}

.progress-bar::-webkit-progress-value {
  background: linear-gradient(90deg, #3b82f6 0%, #4f46e5 100%);
  border-radius: 9999px;
}

.progress-bar::-moz-progress-bar {
  background: linear-gradient(90deg, #3b82f6 0%, #4f46e5 100%);
  border-radius: 9999px;
}
